body{
	background-color: #f0f2f4;
}

p{
	font-size: 17px;
}

li{
  padding-right:0.4em;
}

.topArea{
  text-align:center;
}

#myName{
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  position: relative;
  left: 2.5em;
}

#modalButton{
  display: inline-block;
  float: right;
  margin-top: 1.5em;
  margin-right: 1em;
}

a{
	color: #808080;
 	text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
}

a:hover{
	color: #000000;
}

a:after {    
  /*background: none repeat scroll 0 0 transparent;*/
  /*bottom: 0;*/
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #80dfff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

.active{
	color: #000000;
}

.push{
  margin-left: auto;
}

.bg-light{
  background-color: black;
}


