
body{
	background-color: rgb(235,235,235);
}

.jumbotron p{
	font-size: 33px;
}

.jumbotron p{
	font-size: 25px;
}

.text {
	margin: 25px 200px;
}
}

p{
	font-size: 17px;
}

li{
  padding-right:20px;
}

a{
	color: #808080;
 	text-decoration: none;
  	letter-spacing: 0.15em;
  	position: relative;
}

a:hover{
	color: #000000;
}

a:after {    
  /*background: none repeat scroll 0 0 transparent;*/
  /*bottom: 0;*/
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #80dfff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

.active{
	color: #000000;
}

.push{
  margin-left: auto;
}


