*{
	text-align: center;

}
body{
	background-color: rgb(211,211,211);
}

.jumbotron p{
	font-size: 33px;
}

.jumbotron p2{
	font-size: 25px;
}

.Hardware, .Software, .Peripheral, .Network, .HR, .Roles, .Clients, .Servers, .Routers, .Firewall{
	margin: 50px 200px;
}
}

p{
	font-size: 17px;
}

.container{
	flex-wrap: nowrap;
}